@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --yellow: #facc5f;
    --dark-color: #a8832c;
    --black: #34312f;
    --light-color: #66605c;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --dark-bg: rgba(0, 0, 0, .5);
    --light-white: #ccc;
    --white: #FFF;
}

*{
    font-family: 'Jost', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section {
    padding: 5rem 10%;
}

.btn {
    margin-bottom: 1rem;
    display: inline-block;
    background: #b28264;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover {
    letter-spacing: .1rem;
}

.header .header-1{
    background:#f8f3ec;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.header .header-1 .logo{
   font-size: 2.5rem;
   font-weight: bolder;
   color: var(--black);
   display: flex;
   align-items: center;
}

.header .header-1 .logo img{
    width: 40px;
    margin-right: 5px;
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    z-index: 2;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--yellow);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 1.8rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--yellow);
}

#search-btn{
    display: none;
}

.header .header-2{
    background: #b28264;
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.header .header-2 .navbar a:hover{
    background: #6d4b36;
}

.header .header-2.active{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: #b28264;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 1.7rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background: #6d4b36;
}

@keyframes fadeIn {
    0%{
        transform: translateY(-1rem) scale(0);
        opacity: 0;
    }
}

.home {
    padding: 0px;
    background: #f8f3ec;
}

.home .slide {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .slide::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
}

.home .slide .content {
    text-align: center;
    width: 70rem;
    display: none;
}

.home .slide .content span{
    font-size: 3rem;
    display: block;
    padding: .5rem;
    color: var(--light-white);
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .2s backwards;
}

.home .slide .content span strong {
    font-size:6rem;
    display: block;
    padding: .5rem;
    color: #facc5f;
    text-shadow: 0 .2rem 1rem #a8832c;
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .2s backwards;
}
.home .slide .content h3{
    font-size: 4vw;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .4s backwards;
}

.home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .6s backwards;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #facc5f;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.section-p1 {
    padding: 40px 80px;
}

#Feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #f6e3d8;
    border-radius: 10px;
    margin: 15px 0;
}
#Feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.1);
}

#Feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#Feature .fe-box h6 {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    font-size: 14px;
    color: var(--black);
    background-color: #d1e8f2;
}

#Feature .fe-box:nth-child(2) h6 {
   background-color: #fddde4; 
}
#Feature .fe-box:nth-child(3) h6 {
   background-color: #cdebbc ; 
}
#Feature .fe-box:nth-child(4) h6 {
   background-color: #d1e8f2; 
}
#Feature .fe-box:nth-child(5) h6 {
   background-color: #ecc8f0; 
}
#Feature .fe-box:nth-child(6) h6 {
   background-color: #feebd8; 
}

#product1 {
    text-align: center;
}

#product1 h2{
    font-size: 45px;
}

#product1 p {
    font-size: 18px;
    color: #66605c;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #f6e3d8;
    border-radius: 25px;
    background-color: #f8f3ec;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 30px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 15px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}

#product1 .pro .des i {
    padding-top: 7px;
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: #a96d47;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f7ebda;
    font-size: 15px;
    color: #a96d47;
    border: 1px solid #ecd9cf;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.section-m1 {
    margin: 40px 0;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #1a1a1a;
    font-size: 20px;
}   

#banner h2 {
    color: #1a1a1a;
    font-size: 35px;
    padding: 10px 0;
} 

#banner h2 span {
    color: #ffb300;
}  

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #34312f;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover {
    background: #b28264;
    color: #1a1a1a;
}










@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    .home .slide .content h3{
        font-size: 8vw;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }
    
    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    
    .header .header-1 .search-form.active{
        top: 115%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 1rem;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }

}

