html, body, div, h1, h2, ul, li, form, label, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8F3EC;
    color: #34312F;
    margin: 0;
}

#logout-button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    margin-left:auto;
    width: 70px;
    background-color: #34312F;
    color: #FACC5F;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.header {
    background-color: #FACC5F;
    padding: 10px;
    border: 1px solid #B28264;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #B28264;
}

h2, p {
    color: #34312F;
    margin: 10px 0;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.sections {
    width: 30%;
    padding: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
    border: 2px solid transparent;
    position: fixed;
    left: 0; 
}

.container {
    width: 45%;
    padding: 30px;
    border: 2px solid transparent;
    position: fixed;
    left: 40%;
}

.form-group {
    margin-bottom: 35px;
}

.form-group label {
    display: block;
    color: #34312F;
}


.form-group input[type="text"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #B28264;
    border-radius: 5px;
    margin-top:5px;
    display: flex; 
}

.name-inputs .form-group input[type="text"],
.address-inputs .form-group input[type="text"],
.tel-inputs .form-group input[type="tel"] {
    width: 100%;
    margin-right: 120px; 
    padding: 10px;
    border: 1px solid #B28264;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
}


.name-inputs,
.address-inputs,
.tel-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

button {
    background-color: #34312F;
    color: #FACC5F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 103%;

}

button:hover {
    background-color: #B28264;
}

a {
    text-decoration: none;
}

.sections ul {
    list-style: none;
    padding: 0;
}

.sections ul li {
    border: 1px solid #B28264;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

.sections ul li {
    border: 1px solid #B28264;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}
.sections ul li:first-child {
    background-color: #FACC5F;
}

.sections ul li a {
    color: #34312F;
}

@media (max-width: 768px) {
    .sections {
        width: 100%;
        position: static;
        border: none;
        margin-left: 0; 
    }

    .container {
        width: 100%;
        position: static;
        border: none;
    }

    .sections ul li {
        border: 1px solid #B28264;
        margin: 5px 0;
        padding: 10px;
        text-align: center;
    }

    #logout-button {
        margin-left: 0;
        margin-right: 10px;
        padding: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="tel"] {
        margin-right: 100px;
    }

    .name-inputs,
    .address-inputs,
    .tel-inputs {
        flex-direction: column;
    }


    .name-inputs .form-group,
    .address-inputs .form-group,
    .tel-inputs .form-group {
        margin-bottom: 15px; 
    }
    .name-inputs .form-group input[type="text"],
    .address-inputs .form-group input[type="text"],
    .tel-inputs .form-group input[type="tel"] {
        width: 100%;
        margin-right: 10px; 
        padding: 10px;
        border: 1px solid #B28264;
        border-radius: 5px;
        margin-top: 5px;
        display: flex;
}
}