html, body, div, h1, h2, ul, li, form, label, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8F3EC;
    color: #34312F;
    margin: 0;
}

.header {
    background-color: #FACC5F;
    padding: 10px;
    border: 1px solid #B28264;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: left;
    color: #34312F;
    border-radius: 10px;
    margin: 10px;
}

.header-content {
    display: flex; 
    align-items: center; 
}

#logout-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #34312F;
    font-weight: bold;
    padding: 5px;
    width: 70px;
    background-color: #34312F;
    color: #FACC5F;
    border-radius: 5px;
    cursor: pointer;
}

.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #B28264;
}

h2, p {
    color: #34312F;
    margin: 10px 0;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.sections {
    width: 30%;
    padding: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
    border: 2px solid transparent; 
    position: fixed; 
    left: 0; 
}

.container {
    width: 45%;
    padding: 30px;
    margin-right: 20px;
    border: 2px solid transparent; 
    position: fixed; 
    left: 40%; 
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

form label {

    color: #34312F;
    margin-bottom: -20px;
}
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #B28264;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #34312F;
    color: #FACC5F;
    border: none;
    padding: 10px 20px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    width: 103%;
}

button:hover {
    background-color: #B28264;
}

a {
    text-decoration: none;
}
.sections ul {
    list-style: none;
    padding: 0;
}

.sections ul li {
    border: 1px solid #B28264;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

.sections ul li {
    border: 1px solid #B28264;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}
.sections ul li:nth-child(5) {
    background-color: #FACC5F;
}

.sections ul li a {
    color: #34312F;
}
